#inscricao{
  margin: 0 auto;
  padding: 10px;
  max-width:500px;
}

#top-bar, #bottom-bar{
    background-color: #1A1469;
    color: white;
}

*{
	margin:0;
}

html{
	margin-bottom:40px;
	height:auto;
}

label{
	color:white;
	font-weight:bold;
	display:flex;
	align-items:center;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

#tabela-quadros-competicao {
  display:flex;
  flex-wrap: wrap;
  height:100%;
  background-image: url("/images/competicoes/mainscreen.webp");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-blend-mode: luminosity; */
  /* background-color:#1A1469; */
  background-position:center center;
  /* filter: blur(5px); */
}

input, select{
  width:92% !important;
  height:50px;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 1.5em;
  box-sizing: border-box;
  border-radius:10px;
  color:var(--color3);

}

input[type='checkbox']{
  width: 50px !important;
  height:50px;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 1.5em;
  box-sizing: border-box;
  border-radius:10px;
  margin-left:40px;

}

.popup-button{
  margin: 0 0 0 10px !important;
  padding:0 !important;
  width:30px;
  height:30px;
  background-color:navy;
  color:white;
  opacity:0.5;
  border-radius:50%;
  border:2px white solid;
  color:white;
  font-weight: bold;
  font-size:1em;

}


input[type='submit'], #cadastrar{
  font-weight: bold;
  cursor:pointer;
  width: 92%;
  border-radius:10px;
  background-color:lightgreen;
  color:black;
}

input::placeholder{
  color:var(--color2);
  opacity:0.5;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  width:92% !important;
  height:200px;
  padding:12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-size: 1.5em;
  box-sizing: border-box;
  border-radius:10px;
  background-color:var(--color3);
}

.custom-file-upload img{
    max-height:100%;
    max-width:100%;
    align-self:center;
}
