#caixa_pesquisa{
    width:16rem;
    height:2rem;
    border:none;
    margin:0;

}

[data-href] {
    cursor: pointer;
}


#direita{
    float:right;
    border: 0.1rem lightgray inset;
    padding:0.08rem;
}

#direita i {
    padding:0.2rem;
    font-size:1.5rem;
    cursor: default;
}

.pagination_link{
    background-color:white;
    color:#808080;
    font-size:1.25rem;
    padding:0.5rem;

}

.pagination_link:disabled{
    color:lightgray;
    cursor:default;
}

.pagination{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}


.masterblock{

    width:140px;


}

th {
    cursor:pointer;
}

.highlighted{
    color:gray;
    background-color:#EEEEEE;
}

.ascending{
    color:green;
}

.descending{
    color:red;
}

.hidden{
    display:none;
}

th i{
    font-size:200%;
}

#adversarios{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	padding-top:5px;
	width:100%;
}

#adversarios .selectPaises{
	width:50%;
}

.select2-selection, .select2-selection__rendered, .select2-selection__rendered span{
	height:50px !important;
	line-height:50px;
	font-size:2vw;
	text-align:center;
	border: none !important;
}

.select2-selection__rendered span span{
  /* display: inline-block; */
  /* vertical-align: middle; */
  padding-left:10px;
  /* line-height: normal; */
}

.select2-selection__rendered span{
	display:flex;
	flex-direction: row;
	justify-content:space-between;

}

.bandeiraSelect{
	height: 45px;
}

.dropdown-wrapper{
	background-color:yellow;
}

#equis{
	font-size:2.8vw;
	font-weight:bold;
	padding-right:12px;
}

.select2-selection__arrow{
	visibility:hidden;
}

.opcaoPaisNome{
	padding-left:10px;
}

.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}
.gauge:before{
    content: "";
    display: block;
    padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
  overflow: hidden;
}
.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #fff;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage1 {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform:rotate(var(--rotation)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}

.gauge .percentage2 {
    position:  absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--backgrounda, #aaa);
    transform:rotate(var(--rotationa)); 
    transform-origin: bottom center; 
    transition-duration: 600;
}

.gauge .value {
  position:absolute; bottom:0%; left:0;   
  width:100%; 
  text-align: center;
}

.gauge .min {
  position:absolute; 
  bottom:0; left:5%;   
}
.gauge .max {
  position:absolute; 
  bottom:0; right:5%;   
 }
 
div[id^="vitoriasTime"], div[id^="golsTime"]{
	width:calc(49% - 100px);
	height:100px;
	text-align:center;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:center;
	
}

.largeNumber{
	font-size:3vw;
	font-weight:bold;
}

#linhaJogos, #linhaGols, #linhaMaioresVitorias{
	display:flex;
	flex-direction:row;
	margin-top:20px;
	font-variant: small-caps;
}

div[id^="maiorVitoria"]{
	width:50%;
	height:100px;
	text-align:center;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:space-between;
}

.dataPartida, .estadioPartida{
	font-size:0.8vw;
}

.golsPartida{
	font-size:1.5vw;
	font-weight:bold;
	letter-spacing: 3px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	
}

.golsPartida img{
	margin-left:5px;
	margin-right:5px;
}

#maiorSequenciaVitorias, #maiorJejumVitorias, #maiorInvencibilidade{
	font-variant: small-caps;
	font-weight: bold;
	width:100%;
	text-align:center;
	padding-top:10px;
}

#linhaMaioresSequencias{
	margin-top:20px;
	margin-bottom:20px;
}

#ranking-container{
	height:auto !important;
}

html{
	margin-bottom:40px !important;
}
