#caixa_pesquisa{
    width:16rem;
    height:2rem;
    border:none;
    margin:0;

}

[data-href] {
    cursor: pointer;
}


#direita{
    float:right;
    border: 0.1rem lightgray inset;
    padding:0.08rem;
}

#direita i {
    padding:0.2rem;
    font-size:1.5rem;
    cursor: default;
}

.pagination_link{
    background-color:white;
    color:#808080;
    font-size:1.25rem;
    padding:0.5rem;

}

.pagination_link:disabled{
    color:lightgray;
    cursor:default;
}

.pagination{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}


.masterblock{

    width:140px;


}

th {
    cursor:pointer;
}

.highlighted{
    color:gray;
    background-color:#EEEEEE;
}

.ascending{
    color:green;
}

.descending{
    color:red;
}

.hidden{
    display:none;
}

th i{
    font-size:200%;
}
