/* Full-width input fields */
input[type=text], input[type=password] , input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.divForm{
    background-color:white;
}


@-moz-document url-prefix() {

    html{
        padding-bottom:50px;
    }
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A1469;
    overflow-x: hidden;
    padding-top: 120px;
  }

  #textoSobre{
      background-color: #FFA85C;
      margin-left:250px;
      border: #1A1469 15px solid;
      padding: 20px;
  }

  .paragrafoSobre{
    text-indent:30px;
    color:#1A1469;
    font-family: 'Montserrat', Arial, sans-serif !important;
    font-size:20px;
    padding:10px;
    text-align: justify;
  }

  .featuresListing{
      color:#1A1469;
      font-size:20px;
      padding-left:40px;
  }

  .innerList{
      font-size:15px;
      font-style:italic;
      padding-left:20px;
      list-style-type: none;
      font-family: 'Montserrat', Arial, sans-serif !important;
  }

  .headerSobre{
      color:#1A1469;
      font-weight: bold;
      float:none;
      margin:0;
      position:relative;
      left:0;
      right:0;
      top:0;
      bottom:0;
  }


  h1.headerSobre{
    font-size:30px;
    padding-left:10px;

  }

  div.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

  h2.headerSobre{
      font-size:25px;
      padding-left:20px;
  }



  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }

  .sidenav a:hover {
    color: #FFA85C;
  }

body.loggedout{
    padding-top:40px;
}

body.loggedin{
    padding-top:100px;
}

.genderSign{
    font-size:80%;
    font-weight:bold;
    margin-left: 5px;
    height:100%;
    vertical-align: middle;
    display:inline-block;
}

.beta{
    font-size:60%;
    color:dodgerblue;
}

.genderMas{
    color: darkorange;
    text-shadow: -0.1px 0 navy, 0 0.1px navy, 0.1px 0 navy, 0 -0.1px navy;
}

.genderFem{
    color: navy;
    text-shadow: -0.1px 0 darkorange, 0 0.1px darkorange, 0.1px 0 darkorange, 0 -0.1px darkorange;
}




#security-test{
position:fixed;
bottom:0;
right:0;
height:37.5px;
}

html{
    margin-bottom:50px;
}


#botaoVoltar{
    position:fixed;
    bottom:0;
    left:0;
    height:34px;
    color:navy;
    background-color:white;
    width:250px;
    margin:3px 10px;
    border-radius:10px;
    font-size:120%;
    }



/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius:10px;
}

.newbtn {
    width:auto;
    padding: 10px 18px;
    background-color: transparent;
    border-radius:10px;
    border: 2px #808284 solid;
    color:#808284;
}

.criarjogobtn{
    display:block;
    margin:0 2px 15px 0;
    padding:5px 5px;
    background-color:transparent;
    border: 2px white solid;
    border-radius:10px;
    float:right;
    text-align:center;
    color:white;
    font-weight: bolder;
}



.welcometext{
    float:left;
    height:40px;
    display:block;
    margin:10px;
}

#submitMail{
    color:white;
    width:75%;
}



    .submitbtn{
        padding: 10px 18px;
        background-color: navy;
        border-radius:10px;
    }

    .submitsmall {
        width: auto;
    }

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
    position: relative;
}

img.avatar {
    width: 100px;
    border-radius: 50%;
    height:100px;
}

.pointer {
    cursor:pointer;
}

.container {
    padding: 5px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
}

    .larger {
        width: 30%; /* Could be more or less, depending on screen size */
    }

    .smaller {
        width:15%;
        text-align:center;
    }

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.alert {
 padding:20px;
border-radius: 5px;
float:bottom;

}


.alert-success{
background-color:lightgreen;
color:green;
}

.alert-danger{
background-color:indianred;
color:white;
}


#usermenu{
    display:flex;
    flex-flow:row;
    /*padding: 20px 0 0 10px;*/
    height:60px;
    background-color:#FF800E;
    color:navy;
    z-index:3;
    vertical-align:middle;
    font-family: 'Montserrat', Arial, sans-serif !important;
}

    #top-bar{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;
  height:40px;
  font-family: 'Gugi', Arial, sans-serif !important;
  font-size:25px;
  z-index:50;
}

#bottom-bar{
    height:40px;
    font-family: 'Gugi', Arial, sans-serif !important;
    font-size:1rem;
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    line-height: 40px;
    z-index:3;


}



.areapais{
    height: 100px !important;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.elementoFixo{
    position:fixed;
    top:0;
    width:100%;
}

.offsetTopo{
    top:40px;
}

 /* Menus dropdown */

 .dropdown-button {
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 2px solid white;
    width:auto;
    display:inline-block;
    vertical-align: middle;
    border-radius:10px;
}

.dropdown {

    position:relative;
    float:right;
    margin:0 3px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 214, 178, 0.8);
    width:auto;
    height:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    right:0px;

}

.dropdown-content a {
    color: #e56b00;
    border-color: #e56b00;
    text-decoration: none;
    display: block;
    margin:3px;
    padding:10px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: flex; flex-flow:column wrap}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown-button.arbitragem:before{

        display: block;
        content: url('/images/icons/arbitragem5.png');
        width: 20px;
        height: 20px;
        float: left;
        margin: 0 6px 0 0;
}

.dropdown-button.ranking:before{

    display: block;
    content: url('/images/icons/ranking.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

#botaoVoltar:after{
  content: " Voltar";
}

.dropdown-button.usuario:before{

    display: block;
    content: url('/images/icons/usuario.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.dropdown-button.admin:before{

    display: block;
    content: url('/images/icons/admin.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}


.dropdown-content a.criar:before{
    display: none;
    content: url('/images/icons/create2.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.dropdown-content a.import:before{
    display: none;
    content: url('/images/icons/import2.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.icon{
    margin-left:5px;
}

.dropdown-content a.add-user:before{
    display: none;
    content: url('/images/icons/add-user2.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.dropdown-content a.password:before{
    display: none;
    content: url('/images/icons/password2.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.dropdown-content a.tabela:before{
    display: none;
    content: url('/images/icons/tabela.png');
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}


/* media queries */
@media only screen and (max-width: 55rem) {

  #copyright-text{
    display:none;
  }

  #logged-user{
display:none;
  }

  #hamburger-menu{
    flex-basis: 50% !important;
    font-size:0.8em;
  }


    .dropdown-button{
        font-size:0;
    }

    .dropdown-content a.criar:before{
        display:block;
    }
    .dropdown-content a.import:before{
        display:block;
    }
    .dropdown-content a.add-user:before{
        display:block;
    }
    .dropdown-content a.password:before{
        display:block;
    }
    .dropdown-content a.tabela:before{
        display:block;
    }

    .dropdown-content a{
        font-size:0;
    }

    #botaoVoltar{
      width: 50px;
    }

    #botaoVoltar i{
      position: relative;
      /* top: calc(50% - 10px); /* 50% - 3/4 of icon height */
      display:inline-block;
      line-height:37px;
    }

    #botaoVoltar:after{
      content: none;
    }

    #usermenu{
        position:absolute;
    }

    #welcomemsg{
        position:absolute;
    }


    .welcometext{
        font-size:90%;
        max-width:180px;
        height:40px;
        margin: 10px;

    }


    .quadro-principal{
        display:block;
        float:none;
        margin: 10px auto;
        width:80%;
    }

    .tabela-quadros{
        width:100%;
    }

    .modal-content{
        width:100%;
        height:100%;
        position: absolute;
        margin:0;
        top:0;
        z-index:120;

    }

    .modal {
        z-index:110;
    }

    /* Tabelas */

    	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
        display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
        padding-left: 50%;
        text-align: center;
        min-height:20px;
    }


	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
        white-space: nowrap;
        text-align: center;
        font-weight: bolder;
    }

    td span {
        text-align:center;
        display:block;
    }

    .nopadding{
        padding:8px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
    }

#copyright-text{
  float:left;
  margin-left:70px;
  margin-right:140px;
  margin-top:5px;
font-size:1rem;
line-height:18px;
}


}


/* remodelação barra superior */

nav{
  display:flex;
  margin-top:5px;
  position:absolute;
  background-color:#1A1469;
  width:100%;
  flex-direction: column;
}

#close-menu{
  display:none;
}

.nav-item {
      position: relative;
      background-color: #1A1469;
      width:100%;
      z-index: 1;
      right:0px;
      letter-spacing: 0;
      height: 40px;
      line-height: 40px;
      margin-top: 0;
      opacity: 1;
      text-align: center;
      visibility: hidden;
      transition: visibility 0.1s ease-in-out;
}

.nav-item.open{
  visibility:visible;
  transition: visibility 0.1s ease-in-out 0.3s;

}

nav {
    height: 0px;
    transition: height 0.3s linear;
}

nav.open {
     height: 80px;
    transition: height 0.3s linear;
}

#logo-text{
  flex-basis:50%;
}

#logged-user{
  flex-basis:30%;
  margin: 4px;
  text-align:center;
}

#logged-user.conectado{
  border: 2px solid orange;
}

#logged-user.admin::after{
  content: "(admin)";
}

#logged-user.impersonado::before{
  content: " (admin as) ";
}

#logged-user.user::after{
  content: "";
}

#hamburger-menu{
  flex-basis:20%;
  text-align:right;
  position:relative;
  padding-right:5px;

}
.menu-toggle-button, .nav-item{
    color:white ;
}

.menu-toggle-button:visited, .nav-item:visited{
    color:white ;
}

.menu-toggle-button:hover, .nav-item:hover{
    color:orange !important;
    cursor:pointer !important;
}

#suggestions{
	color: navy;
	float:left;
	padding-left: 10px;
}

#toolbar{
	display:flex;
	flex-direction:row;
	font-size: 14px;
	
}

#toolbar div{
	border: 2px outset;
	background-color:white;
	color:black;
	margin: 0 10px;
	display:flex;
	flex-direction:row;
	min-width: 100px; 
	padding:5px;
	cursor:pointer;
	user-select: none;
}

#toolbar div:active{
	border: 2px inset;

}

#toolbar div span{
	padding-left: 5px;
}


